.price {
  background: black;
}

.price__wrapper {
  padding-top: 100px;
}

.price-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 60px;
  gap: 5px;
}

.price-card {
  width: 450px;
}

.price-card__title {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 56px;
  text-align: center;
  color: #ffffff;
}

.price-card__price {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  color: #bdae82;
  padding-top: 20px;
  padding-bottom: 20px;
}

.price-card__description {
  display: block;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.price-card__button {
  display: flex;
  justify-content: center;
  padding-top: 48px;
}
